body {
  margin: 0 5vw 0 5vw;
  cursor: none;
}

:root {
  --yellow: #e8e833;
  --white: #abb2bf;
  --off-white: #949494;
  --light-yellow: #b4b292;
  --lighter-grey: #434547;
  --orange: #d19a66;
  --background: #282c34;
}
