---
    import { ViewTransitions } from "astro:transitions"
    import Header from "../components/Header.astro"

    interface Props {
        title: string
        backgroundColor: string
    }

    const { title, backgroundColor } = Astro.props as Props

---

<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro slides - {title}</title>
    <ViewTransitions />
</head>

<body>
    <div>
        <Header title={title} />
        <slot />
    </div>
</body>

</html>

<style define:vars={{backgroundColor}}>
    body {
        background-color: var(--backgroundColor);
    }
</style>

<script>
    let idleTimer

    function handleTimeout() {
        document.body.addEventListener("mousemove", () => {
            document.body.style.cursor = "auto"

            clearTimeout(idleTimer)

            idleTimer = setTimeout(() => {
                document.body.style.cursor = "none"
            }, 3000)
        })

        document.addEventListener("astro:before-swap", () => {
            document.removeEventListener("mousemove", document.body)
            clearTimeout(idleTimer)
        }, { once: true })
    }

    handleTimeout()


    document.addEventListener("astro:after-swap", handleTimeout)
</script>